<%- include('./src/header'); %>
<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <h4 class="page-title mb-2"><i class="dripicons-inbox"></i> Geri Bildirim</h4>  
            <div class="">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">eKuaförüm</a></li>
                    <li class="breadcrumb-item"><a href="javascript:void(0);">Geri Bildirim</a></li>
                </ol>
            </div>                                      
        </div>
    </div>
</div>
<%- include('./src/sidebar'); %>
    <div class="page-content">
        <div class="container-fluid"> 
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="mt-0 header-title"><%= title %></h4>
                            <table id="footable-2" class="table mb-0" data-filtering="false"  data-show-toggle="true">
                                <thead>
                                    <tr>
                                        <th>Telefon</th>
                                        <th>Konu Başlık</th>
                                        <th>Gönderim Tarihi</th>
                                        <th>İşlemler</th>
                                        <th data-breakpoints="all" data-title="Konu İçeriği">Konu İçeriği</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% find_feedback.forEach(function(feedback){ %>                           
                                        <tr>
                                                <td><%= feedback.telephone %></td>
                                                <td><%= feedback.title %></td>
                                                <td><%= moment(feedback.feedBackCreated).format("DD MM YYYY"); %></td>
                                                <td>
                                                    <a href="../../feedback/deleteFeedBack/<%= feedback._id %>" class="btn btn-sm btn-warning"><i class="fas fa-trash"></i></a>
                                                </td>
                                                <td><%= feedback.description %></td>
                                            </tr> 
                                      <% }); %> 
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<%- include('./src/footer'); %>